.App {
    position: relative;
  }
  
  .outside_button {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid #000;
  }
  
  .inside_button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: red;
    border: none;
    border-radius: 50%;
  }
  
  #line {
    position: absolute;
    width: 2px;
    background-color: black;
    transform-origin: 0 0;
  }
  